.heading {
    font-size: 18px !important;
    font-weight: bold !important;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: Luminari, fantasy;
    text-shadow: -1px 1px 1px #ffffff,
    1px 1px 1px #ffffff,
    1px -1px 1px #ffffff,
    -1px -1px 1px #ffffff;

}
.sub-heading {
    font-size: 14px !important;
    font-weight: bold !important;
}

.card {
    text-align: center;
    transition: 0.5s;
    border-radius: 15px;
    padding: 6px 0px;
    border: 5px solid transparent;
    position: relative;
}

.gradient-border {
    background: white;
    background-origin: border-box;
    box-shadow: inset 0 1000px white;
}
.card:hover {
    box-shadow: inset 0 1000px gold;
}

.column {
    float: left;
    width: 10%;
    padding: 0 5px;
}

.carousel {
    margin: 0 -5px;
    display: flex;
    justify-content: start;
}


body {
    font-size: 16px !important;
}

img {
    max-width: 100%;
    height: auto;
}

.img-holder {
    width: 100%;
    height: auto;
    padding: 3px;
}

.pill {
    border: 1px solid transparent;
    color: black;
    padding: 3px 4px;
    text-align: center;
    display: inline-block;
    margin: 0px 1px;
    border-radius: 14px;
    text-transform: capitalize;
    font-family: fantasy;
}

.search-bar {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.1s;
    outline: none;
    font-size: 16px;
    border: 1px solid #CC0000;
}
.search-bar::placeholder {
    text-align: center;
    font-size: 16px;
}
.search-bar:focus {
    border: 2px solid #CC0000;
}
.sort-select {
    height: 40px;
    width: 10%;
    margin: 10px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.1s;
    outline: none;
    font-size: 12px;
    border: 1px solid #3B4CCA;
}

.separator {
    margin-left: -5px;
    margin-right: -5px;
    border: 1px rgba(128,128,128,0.4) solid
}
.favourite {
    position: absolute;
    top: 0px;
    left: -5px;
    background-color: transparent;
    border: none;
}